<mat-toolbar class="app-header" fixed="true">




  
  <button mat-button routerLink="{{'../admin'}}"><b>  Angular Admin Project</b></button>

  <span class="spacer"></span>
  <span><button mat-button routerLink="{{'../admin'}}"> Admin</button></span>
  <span><button mat-button routerLink="{{'../login'}}"> Login</button></span>
  

  <!-- <div>
      <mat-checkbox>Logged in</mat-checkbox>
          Logged in:
          <input #canactivate type="checkbox" (change)="checkboxChanged(canactivate.checked)" />
          
  </div> -->

</mat-toolbar> 

