
    
    
    <mat-nav-list>

        <ng-template let-item let-last="last" ngFor [ngForOf]="menu_items">
            <a mat-list-item 
            routerLink="{{ item.link }}"
            routerLinkActive="active">
              <mat-icon matListAvatar>{{item.icon}}</mat-icon>
              <h3 matLine> {{item.title}} </h3>
              <!-- <p matLine> {{item.description}} </p> -->
            </a>
            <!-- <mat-divider matInset *ngIf="!last"></mat-divider> -->
          </ng-template>


      </mat-nav-list>
