<div fxFlex >
    <mat-sidenav-container >   


<div class="example-sidenav-content">


    <mat-toolbar  >User List</mat-toolbar>

    <div >
        <users-table (onSelect)="onItemSelect($event)"></users-table>
    </div>
      



    <!-- <div class="main-container"   fxLayout="column" fxLayoutAlign="space-between none">

        <mat-toolbar fxFlex >ya</mat-toolbar>
    
          <div fxFlex="1" >
              <users-table (onSelect)="onItemSelect($event)"></users-table>
          </div>
              <mat-toolbar fxFlex >ya</mat-toolbar>
</div>          -->
</div>



      <mat-sidenav 
      #right position="end"
    
      mode="side"
      open="false"
      class="user-sidenav">
    
        <users-right 
        (onCloseRight)="closeUserRight()"
        [user]="selectedUserData" 
        *ngIf="isUserSelected">
        </users-right>
    
      </mat-sidenav>   
      
      </mat-sidenav-container>

    </div>







<!-- <data-table 
        [data]="data" 
        (onSelect)="onItemSelect($event) ">
        </data-table>   -->
        
<!-- <mat-sidenav-container>         
      
<div class="example-sidenav-content">
         <users-table (onSelect)="onItemSelect($event)"></users-table>
</div>

  <mat-sidenav 
  #right position="end"

  mode="side"
  open="false"
  class="user-sidenav">

    <users-right 
    (onCloseRight)="closeUserRight()"
    [user]="selectedUserData" 
    *ngIf="isUserSelected">
    </users-right>

  </mat-sidenav>   
      
</mat-sidenav-container> -->










































<!-- <ng2-smart-table 
    [settings]="settings"
    [source]="data"
    (deleteConfirm)="onDeleteConfirm($event)" ></ng2-smart-table>
 -->

    <!-- <nb-card setSize="xxlarge">
            <nb-card-header>
              User Management
            </nb-card-header>
          
            <nb-card-body >
      
              <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
              </ng2-smart-table>


            </nb-card-body>
          </nb-card>
           -->





